/* COLOURS */

$grey: #555;
$lavender: #bdadea;
$darkpurple: rgba(darken($lavender, 15%), 0.25);
$green: #40f99b;
$darkgreen: rgba(64,249,155, 0.25);

/* FONTS */
$sansSerif: 'Ubuntu', sans-serif;
$serif: 'Roboto Slab', serif;
