@import '../../styles/variables.scss';

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  font-family: $sansSerif;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  transition: opacity 300ms ease-in-out;

  &:before {
    content: '✔';
    display: inline-block;
    margin-right: 5px;
    color: $darkgreen;
  }
}
